@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Outfit:wght@100;200;300;400;500;600;700&family=Playfair+Display:wght@400;500;700&display=swap");

:root {
  /* --background-color: #eceae8; */
  --background-color: #ecd9be;
  --logo-color: rgb(45, 23, 13);
  --font-primary: "Outfit", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --font-accent: "Playfair Display", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  background-color: var(--background-color);
}

body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Whole Nav Bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
}
/* Snowflake Logo */
.navbar-logo img {
  width: 260px;
  cursor: pointer;
}
/* Nav Menu */
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

/* Menu links */
.navbar-menu li a {
  font-family: var(--font-secondary);
  color: var(--logo-color);
  text-decoration: none;
  font-weight: 400;
  transition: color 0.5s ease;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
/* Menu links Hover */
.navbar-menu li a:hover {
  color: #c59f72;
}

/* Award-winning Luxury Gelato */
.header h1 {
  color: var(--logo-color);
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  margin-top: 45px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

/* Carousel*/
.carousel {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  margin: 2rem auto;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
}

.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.carousel-track img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.carousel-track img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
/* "It's very, VERY smooth. Smooth is good." - Charles Campion. */
.quote h2 {
  margin-top: -15px;
  color: var(--logo-color);
  font-family: var(--font-accent);
  font-weight: 400;
  text-align: center;
}
/* GREAT TASTE AWARD */
.award {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.award img {
  height: auto;
  width: 100px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text h1 {
  color: var(--logo-color);
  font-family: var(--font-primary);
  font-weight: 700;
  margin: 20px auto;
  border-bottom: 1px solid var(--logo-color);
  border-radius: 5px;
  padding-bottom: 4px;
  font-size: 27px;
}

.text p {
  margin-left: 300px;
  margin-right: 300px;
  font-family: var(--font-primary);
  color: var(--logo-color);
  font-weight: 400;
  font-size: 30px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-decoration: none;
  margin-top: 160px;
}

.social-icons a {
  font-size: 3rem;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
}

#instagram a {
  color: #e1306c;
}
#instagram a:visited {
  color: #e1306c; /* same as base to avoid purple */
}

#instagram a:hover {
  color: #9b3680;
}

#tiktok a {
  color: black;
}

#tiktok a:visited {
  color: #000000;
}

#tiktok a:hover {
  color: #e1306c;
}

.follow-text {
  display: flex;
  justify-content: center;
  font-family: var(--font-secondary);
  font-size: 13px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.follow-text h1 {
  font-weight: 200;
}
